.topHeader {
  text-align: center;
  color: #FFFFFF;
  /*background: hsla(28, 97%, 90%, 0.5);*/
  background: hsla(133, 38%, 21%, 0.45);
  margin-top: 0px;
  min-height:10vh;
  padding: 0.5em;
  font-family: fantasy;
  font-size: 3em;
}

.pageHeader {
  font-size: 1.9em;
  font-family: initial;
  padding: 2%;
}

.contentHeader {
  font-size: 1.4em;
  font-family: initial;
  padding: 2%;
  text-decoration: underline;
}

p {
  font-size: 1.2em;
  font-family: math;
  padding: 1%;
  text-align: justify;
}

body {
  margin: auto;
  /*background: hsla(20, 100%, 50%, 0.5);*/
  background: whitesmoke;
  background-image: url('../images/green-pond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}


nav {
  /*background: #E66D07;*/
  background: hsla(133, 20%, 15%, 1);
  color: whitesmoke;
  height: 40px;
  /* height: 6vh; */
  padding: 0.5%;
  top: 0;
  margin: 0;
  width: 100%;
}

footer {
  background: hsla(133, 5%, 15%, 1);
  color: lightgrey;
  min-height: 40px;
  font-size: 1em;
  font-family: initial;
  padding: 1%;
  position: absolute;
  width: 100%;
  height: 8vh;
  /* margin-top: 5vw; */
  /* bottom: 0; */
}

ol {
  padding: 5%;
}



.mainBody {
  background: hsla(90, 40%, 81%, 0.5);
  width: 80vw;
  /*height: 80vh; */
  min-height: 600px;
  border-radius: 4px;
  margin: auto;
  padding: 5%;
}

.bodyText {
  background:hsla(135, 37%, 90%, 0.8);
  color:hsla(90, 9%, 4%, 1);
  /*background:hsl(240deg 1.81% 29.33%);
  color:hsl(90deg 86.74% 93%);*/
  border-radius: 10px;
  padding: 3%;
  margin: 1.5%;
  border: 2px solid;
  border-color: hsla(132, 23%, 40%, 0.9);
  text-align: center;
}

.indexBody {
  background: hsla(90, 40%, 81%, 0.5);
  width: 80vw;
  /* height: 80vh; */
  min-height: 600px;
  border-radius: 4px;
  margin: auto;
  padding: 3%;
}


.btnIndexLink {
  background: hsla(132, 23%, 40%, 0.9);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 90%;
  height: 70%;
  border-radius: 40px;
  border: 2px solid;
  border-color: hsla(133, 38%, 21%, 0.2);
  padding: 10px;
  font-family: initial;
  font-size: 1.5em;
  color: whitesmoke;
}


.btnIndexLink:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.64), 0 17px 50px 0 rgba(0,0,0,0.59);
  background: hsla(133, 59%, 60%, 1);
  cursor: pointer;
  transition: all 0.4s;
  width: 92%;
  height: 75%;
  font-size: 1.6em;
}

.navBtn {
  background: hsla(133, 20%, 15%, 1);
  color: whitesmoke;
  border: none;
  padding: 0.5% 1%;
  font-size: 1em;
  font-family: initial;
  display: inline-block;
  cursor: pointer;
  height: 35px;
}

.navBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: hsla(133, 59%, 60%, 1);
  transition: all 0.4s;
}

.htmlCssImages {
  width: 90%;
  border: 2px solid;
  border-color: hsla(132, 23%, 40%, 0.9);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.listText {
  font-size: 1.25em;
  text-align: justify;
  font-weight: bold;
}

.aboutMeTable {
  float: left;
  width: 50%;
}

.halfPageImage {
  float: left;
  padding: 20px;
  width: 40%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.aboutMeTableD {
  padding: 20px;
}


.aboutMeImg {
  width: 100%;
  border: 2px solid;
  border-color: hsl(0deg 0% 59.98% / 90%);
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.imgCaption {
  font-size: 1em;
}


.indentedOl {
  text-align: left;
}

.indentedUl {
  text-align: left;
}



.gridBody {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20%;
  width: 85%;
  /* height: 80vh; */
  min-height: 600px;
  border-radius: 4px;
  margin: auto;
  padding: 3%;
}


.gridBodyIndex {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 600px;
  border-radius: 4px;
  margin: auto;
  padding: 3%;
}

.gridText {
  background:hsla(135, 37%, 90%, 0.8);
  color:hsla(90, 9%, 4%, 1);
  border-radius: 10px;
  padding: 5%;
  margin: 1.5%;
  border: 2px solid;
  border-color: hsla(132, 23%, 40%, 0.9);
  text-align: center;
  height: 40%;
}

.gridBtn {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20%;
  padding: 3%;
  justify-content: space-evenly;
  align-content: flex-start;
}

.gridBtnItem {
  width: 100%;
  height: 100%;
  padding: 10%;
}

.twoColTable {
  margin-bottom: 10%;
}

.tableContents {
  border: 1px solid;
  border-color: black;
  text-align: center;
  padding: 2%;
}

.tableHeading {
  background: hsla(133, 20%, 15%, 0.8);
  color: whitesmoke;
  padding: 2%;
}

.valuesImg {
  width: 80%;
  margin-top: 10%;
  margin-left: 5%;
  border: 2px solid;
  border-color: hsl(0deg 0% 59.98% / 90%);
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.valuesGrid {
  display: grid;
  grid-template-columns: 60% 40%;
  align-content: flex-start;
}

.valuesGridItems {

}



@media (max-width: 700px) {
  .gridBodyIndex{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 40% 60%;
    justify-content: center; 
  } 
  .gridBody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20%;
  }
  .gridBtn {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20%;
  }
  .gridText {
    height: 90%;
  }
  .gridBtnItem {
   padding-left: 0px;
  }
  .btnIndexLink {
    width: 100%;
  }
  .bodyText {
    width: 99%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .mainBody {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}



